.wrapper {
  border: 1px solid red;
  width: 400px;
  padding: 8px 10px;
}
.content {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.content span {
  cursor: pointer;
}
.bar {
  margin-top: 8px;
  border: 1px solid green;
  height: 5px;
  border-radius: 4px;
  background:#fff;
  
}
.bar-inner {
  height: 100%;
  background: red;
  border-radius: 4px;
   width: 8%;
   margin-left: 0;
   transition: all 0.3s;
 
}
.state-1 {
   width: 8%;
   margin-left: 0;
}
.state-2 {
   width:25%;
   margin-left: 134px;
}
.state-3 {
   width:18%;
   margin-left: 327px;
}
